body {
    background: rgb(108, 108, 255);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: #fff;
}

section {
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397) ;
}

footer {
    text-align: center;
    color: #fff;
    font-style: italic;
}